[submodule "kernel_platform/common"]
	path = kernel_platform/common
	url = /home/yoro/repos/common.git
	branch = main
[submodule "external/AnyKernel3"]
	path = external/AnyKernel3
	url = https://github.com/yoro1836/AnyKernel3
