# Disable Scamsung anti-root protection
CONFIG_UH=n
CONFIG_RKP=n
CONFIG_KDP=n 
CONFIG_SECURITY_DEFEX=n
CONFIG_PROCA=n
CONFIG_FIVE=n

# Disable Werror
CONFIG_WERROR=n

# Add LOCALVERSION
CONFIG_LOCALVERSION="-ZeroX"
CONFIG_LOCALVERSION_AUTO=n

# KernelSU
CONFIG_KSU=y
CONFIG_KSU_KPROBES_HOOK=y
CONFIG_KSU_LSM_SECURITY_HOOKS=y
CONFIG_KSU_ALLOWLIST_WORKAROUND=y

# TCP CONG
CONFIG_TCP_CONG_BBR=y
CONFIG_DEFAULT_TCP_CONG="bbr"

# HZ
CONFIG_HZ_500=y
CONFIG_HZ=500

# SCHED
CONFIG_SCHED_BORE=y

# LLVM
CONFIG_LLVM_POLLY=y

# FileSystem
CONFIG_TMPFS_XATTR=y