# Disable Scamsung anti-root protection
CONFIG_UH=n
CONFIG_RKP=n
CONFIG_KDP=n 
CONFIG_SECURITY_DEFEX=n
CONFIG_PROCA=n
CONFIG_FIVE=n

# Disable Werror
CONFIG_WERROR=n

# Add LOCALVERSION
CONFIG_LOCALVERSION="-ZeroX-Batt"
CONFIG_LOCALVERSION_AUTO=n

# SCHED
CONFIG_SCHED_BORE=n

# LLVM
CONFIG_LLVM_POLLY=y

# FileSystem
CONFIG_TMPFS_XATTR=y

# Governer
CONFIG_CPU_FREQ_GOV_USERSPACE=y
CONFIG_CPU_FREQ_GOV_ONDEMAND=y
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=y

# BBG
CONFIG_BBG=y

# HZ
CONFIG_HZ_100=y
CONFIG_HZ=100
